# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite
*.sqlite3

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Ngrok
ngrok.exe
ngrok

# C++ Build and Executables
raylib_port/build/
*.exe
*.psd
*.backup

# Large Audio Files
audio/Ambians_doga.wav


